{{> navbar profilePage=true}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            {{#with profile}}
                <picture>
                    <img alt="Insert Image Here"/>
                </picture>
                <h1 class="text-center">{{username}}</h1>
                <p>Created: {{createdDate}}</p>
                <p>Updated: {{updatedDate}}</p>
            {{/with}}
        </div>

        <div class="col-sm-8">
            {{#with profile}}
                <p>Name: {{fullname}}</p>
                <p>Email: {{email}}</p>
            {{/with}}
        </div>
    </div>
</div>